#Telegram Bot
BOT_TOKEN="your-bot-token-here"
CHAT_ID="chat-id-here"

#Server name
SERVER_NAME="MyUbuntuServer"

#Server os:
    #put Debian for Debian based distros that use apt (like Ubuntu, LinuxMint)
    #put RedHat for Red Hat based distros that use dnf (like fedora)
SERVER_OS="RedHat"  